<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.menzhen.dao.PaydrugMapper">
  <resultMap id="BaseResultMap" type="com.menzhen.bean.Paydrug">
    <id column="pd_id" jdbcType="INTEGER" property="pdId" />
    <result column="pd_number" jdbcType="INTEGER" property="pdNumber" />
    <result column="pd_name1" jdbcType="VARCHAR" property="pdName1" />
    <result column="pd_day1" jdbcType="INTEGER" property="pdDay1" />
    <result column="pd_name2" jdbcType="VARCHAR" property="pdName2" />
    <result column="pd_day2" jdbcType="INTEGER" property="pdDay2" />
    <result column="pd_patient" jdbcType="VARCHAR" property="pdPatient" />
    <result column="pd_moneyall" jdbcType="REAL" property="pdMoneyall" />
  </resultMap>
  <sql id="Base_Column_List">
    pd_id, pd_number, pd_name1, pd_day1, pd_name2, pd_day2, pd_patient, pd_moneyall
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from paydrug
    where pd_id = #{pdId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from paydrug
    where pd_id = #{pdId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.menzhen.bean.Paydrug">
    insert into paydrug (pd_id, pd_number, pd_name1, 
      pd_day1, pd_name2, pd_day2, 
      pd_patient, pd_moneyall)
    values (#{pdId,jdbcType=INTEGER}, #{pdNumber,jdbcType=INTEGER}, #{pdName1,jdbcType=VARCHAR}, 
      #{pdDay1,jdbcType=INTEGER}, #{pdName2,jdbcType=VARCHAR}, #{pdDay2,jdbcType=INTEGER}, 
      #{pdPatient,jdbcType=VARCHAR}, #{pdMoneyall,jdbcType=REAL})
  </insert>
  <insert id="insertSelective" parameterType="com.menzhen.bean.Paydrug">
    insert into paydrug
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pdId != null">
        pd_id,
      </if>
      <if test="pdNumber != null">
        pd_number,
      </if>
      <if test="pdName1 != null">
        pd_name1,
      </if>
      <if test="pdDay1 != null">
        pd_day1,
      </if>
      <if test="pdName2 != null">
        pd_name2,
      </if>
      <if test="pdDay2 != null">
        pd_day2,
      </if>
      <if test="pdPatient != null">
        pd_patient,
      </if>
      <if test="pdMoneyall != null">
        pd_moneyall,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pdId != null">
        #{pdId,jdbcType=INTEGER},
      </if>
      <if test="pdNumber != null">
        #{pdNumber,jdbcType=INTEGER},
      </if>
      <if test="pdName1 != null">
        #{pdName1,jdbcType=VARCHAR},
      </if>
      <if test="pdDay1 != null">
        #{pdDay1,jdbcType=INTEGER},
      </if>
      <if test="pdName2 != null">
        #{pdName2,jdbcType=VARCHAR},
      </if>
      <if test="pdDay2 != null">
        #{pdDay2,jdbcType=INTEGER},
      </if>
      <if test="pdPatient != null">
        #{pdPatient,jdbcType=VARCHAR},
      </if>
      <if test="pdMoneyall != null">
        #{pdMoneyall,jdbcType=REAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.menzhen.bean.Paydrug">
    update paydrug
    <set>
      <if test="pdNumber != null">
        pd_number = #{pdNumber,jdbcType=INTEGER},
      </if>
      <if test="pdName1 != null">
        pd_name1 = #{pdName1,jdbcType=VARCHAR},
      </if>
      <if test="pdDay1 != null">
        pd_day1 = #{pdDay1,jdbcType=INTEGER},
      </if>
      <if test="pdName2 != null">
        pd_name2 = #{pdName2,jdbcType=VARCHAR},
      </if>
      <if test="pdDay2 != null">
        pd_day2 = #{pdDay2,jdbcType=INTEGER},
      </if>
      <if test="pdPatient != null">
        pd_patient = #{pdPatient,jdbcType=VARCHAR},
      </if>
      <if test="pdMoneyall != null">
        pd_moneyall = #{pdMoneyall,jdbcType=REAL},
      </if>
    </set>
    where pd_id = #{pdId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.menzhen.bean.Paydrug">
    update paydrug
    set pd_number = #{pdNumber,jdbcType=INTEGER},
      pd_name1 = #{pdName1,jdbcType=VARCHAR},
      pd_day1 = #{pdDay1,jdbcType=INTEGER},
      pd_name2 = #{pdName2,jdbcType=VARCHAR},
      pd_day2 = #{pdDay2,jdbcType=INTEGER},
      pd_patient = #{pdPatient,jdbcType=VARCHAR},
      pd_moneyall = #{pdMoneyall,jdbcType=REAL}
    where pd_id = #{pdId,jdbcType=INTEGER}
  </update>

</mapper>
